* {
  margin: 0;
  padding: 0;
}
html, body, #root{
  width: 100%;
  height: 100%;
  font-size: .32rem
}
a {
  color: #000000;
  text-decoration: none;
}
.page {
  width: 100%;
  font-size: .32rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: .98rem
}
#film {
  background: cadetblue;
}
#discover {
  background: chartreuse;
}
#cinema {
  background: chocolate;
}
#mine {
  background: cornflowerblue;
}